{% import '_includes/forms' as forms %}

{% set isJobInProgress = (constant('STATUS_IN_PROGRESS', element) is same as element.getStatus()) %}
<div id="translations-list">
    <div class="content-pane" id="translations-element-index">
        <div class="main">
            <div class="elements busy"></div>
        </div>

        <div id="translations-element-index-toolbar"></div>
    </div>
</div>

<div id="overview" class="hidden">
    {% include 'craft-lilt-plugin/_components/job/_form.twig' %}
</div>