{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set title = title ?? "Create a new job" %}

{% set isJobInProgress = constant('STATUS_IN_PROGRESS', element) is same as element.getStatus() %}
{% set isJobReadyForReview = constant('STATUS_READY_FOR_REVIEW', element) is same as element.getStatus() %}

{% set formActionUrl = formActionUrl ?? cpUrl('craft-lilt-plugin/job/create') %}

{% set isDraftJob  = true %}
{% set isNewJob = true %}

{% set context = 'index' %}
{% set elementType = 'craft\\elements\\Entry' %}
{% set userElementType = 'craft\\elements\\User' %}

{% set fullPageForm = true %}

{% set formActions = [] %}
{% set mainFormAttributes = {
    id: 'create-job-form',
} %}

{% set isUnpublishedDraft = true %}
{% set canUpdateSource = true %}

{% set saveDraftAction = 'craft-lilt-plugin/job/post-create-job/invoke' %}
{% set redirectUrl = 'craft-lilt-plugin/job/create' %}
{% set saveSourceAction = 'craft-lilt-plugin/job/post-create-job/invoke' %}

{% set formActions = formActions|push({
    label: 'Create and add another'|t('app'),
    redirect: 'craft-lilt-plugin/job/create'|hash,
    action: saveSourceAction,
    shortcut: true,
    shift: true,
    eventData: {
        autosave: false,
    },
}) %}

{% set formActions = formActions|push({
    label: 'Save draft'|t('app'),
    action: saveDraftAction,
    redirect: 'craft-lilt-plugin/jobs'|hash,
    shortcut: true,
    params: {
        saveDraft: 1,
    },
    eventData: {
        autosave: false,
    },
}) %}

{% block submitButton %}
    <button type="submit" data-icon="language" class="btn submit">{{ 'Create job'|t('app') }}</button>
{% endblock %}

{% block content %}
    {% include 'craft-lilt-plugin/_components/job/_form.twig' %}
{% endblock %}

{% set settingsHtml = (block('settings') ?? '')|trim %}
{% set showStatusToggles = true %}
{% set isMultiSiteElement = false %}
{% set canEditMultipleSites = true %}
{% set isRevision = false %}
{% set isProvisionalDraft = false %}
{% set isLikeCurrent = false %}
{% set showNotes = false %}
{% set isDraft = true %}
{% set isCurrent = true %}

{% block settings %}
    {% include 'craft-lilt-plugin/_components/job/_settings.twig' %}
{% endblock %}

{% block details %}
    {% include 'craft-lilt-plugin/_components/job/_details.twig' %}
{% endblock %}