{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set isJobInProgress = constant('STATUS_IN_PROGRESS', element) is same as element.getStatus() %}
{% set isDraftJob = constant('STATUS_DRAFT', element) is same as element.getStatus() %}
{% set isJobReadyForReview = constant('STATUS_READY_FOR_REVIEW', element) is same as element.getStatus() or constant('STATUS_READY_TO_PUBLISH', element) is same as element.getStatus() or constant('STATUS_COMPLETE', element) is same as element.getStatus() %}

{% set title = isJobInProgress ? "Job edit" : "Job overview" %}

{% set formActionUrl = cpUrl('craft-lilt-plugin/job/edit/' ~ element.id) %}

{% set context = 'index' %}
{% set elementType = 'craft\\elements\\Entry' %}
{% set userElementType = 'craft\\elements\\User' %}
{% set sources = craft.app.elementIndexes.getSources('craft\\elements\\Entry', 'index') %}
{% set customizableSources = (sources is not empty and context == 'index' and currentUser.can('customizeSources')) %}

    {% block actionButton %}
        {% if isDraftJob %}
            {% include 'craft-lilt-plugin/_components/job/_create_actions.twig' %}
        {% elseif (not isJobInProgress and not isJobReadyForReview) %}
            <div id="save-btn-container" class="submit">
                <button id="create-job-submit-form" type="submit" class="btn submit">
                    Save job
                </button>
            </div>
        {% endif %}
    {% endblock %}

{% block content %}
    {% if not isJobReadyForReview %}
        {% include 'craft-lilt-plugin/_components/job/_form.twig' %}
    {% else %}
        {% include 'craft-lilt-plugin/_components/translation/_elements.twig' %}
    {% endif %}
{% endblock %}

{% set isRevision = false %}

{% block settings %}
    {% include 'craft-lilt-plugin/_components/job/_settings.twig' %}
{% endblock %}

{% set settingsHtml = (block('settings') ?? '')|trim %}
{% set showStatusToggles = true %}
{% set isMultiSiteElement = false %}
{% set canEditMultipleSites = true %}
{% set isRevision = false %}
{% set isProvisionalDraft = false %}
{% set isLikeCurrent = false %}
{% set showNotes = true %}
{% set isDraft = true %}
{% set isCurrent = true %}

{% block details %}
    {% include 'craft-lilt-plugin/_components/job/_details.twig' %}
{% endblock %}