{
  "APP_URL": "http://localhost:88",
  "API_URL": "http://mockserver:1080",
  "API_KEY": "this_is_apy_key",
  "MOCKSERVER_HOST": "localhost",
  "MOCKSERVER_PORT": "1080",
  "MOCKSERVER_ENABLED": "true",
  "USER_NAME": "admin",
  "USER_PASSWORD": "password",
  "ASSERT_ENTRY_CONTENT": "false"
}