version: "3.7"

services:
#  app:
#    volumes:
#      - ./../lilt/craft-lilt-plugin/:/app/vendor/lilt/craft-lilt-plugin
#      - ./happy-lager-main/storage/logs:/app/storage/logs
#      - ./happy-lager-override/migrations:/app/migrations

#  mysql:
#    ports:
#      - "3333:3306"

#  mockserver:
#    ports:
#      - "1080:1080"
