<div class="flex lilt-job-form-actions">
    <!-- <div id="save-draft-btn-container">
        <button type="button" class="btn formsubmit">Create a draft</button>
    </div> -->
    <div id="save-btn-container" class="btngroup submit">
        <button id="create-job-submit-form" data-action-button="create-job" type="submit" class="btn submit" data-icon="language">
            Create job
        </button>
        <button id="create-draft-job-submit-form" style="display: none" data-action-button="create-job-draft" type="submit" class="btn submit" data-icon="language">
            Create draft
        </button>
        <button type="button" class="btn submit menubtn" aria-label="Actions"></button>

        <div class="menu" data-align="right">
            <ul>
                <li>
                    <a id="create-job-draft-submit-form" class="formsubmit" data-action-button="create-job-draft">
                        <!-- <span class="shortcut">⌘S</span> -->
                        Save draft
                    </a>
                </li>
            </ul>

        </div>
    </div>

</div>