#details .meta.warning {
    border: 2px solid #fadb5f;
    padding: 19px 22px;
    background: #fff;
    color: #3f4d5a !important;
}

#details .meta.error {
    border: 2px solid rgba(207,17,36,.5);
    padding: 19px 22px;
    background: #fff;
    color: #3f4d5a !important;
}

.lilt-text-copy-to-clipboard {
    cursor: pointer;
}

#lilt-modal-preview-tabs #translation table
{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Make content fill full modal */
#lilt-preview-modal-body #lilt-modal-preview-tabs #content{
    height: calc(100% - 48px);
}
#lilt-preview-modal-body #lilt-modal-preview-tabs #content #preview{
    height: calc(100% - 48px);
}
#lilt-preview-modal-body #lilt-modal-preview-tabs {
    height: calc(100% - 86px);
}