#TODO: once craftcms v5 released fix all pipelines
#name: Tests on multiple craft versions
#on:
#  push:
#    branches:
#      - 4.x #CraftCMS v4
#  pull_request:
#    branches:
#      - "*"
#jobs:
#  tests:
#    strategy:
#      fail-fast: false
#      matrix:
#        craft_version: [
#          # TODO: check this
#          # Investigation:
#          # https://github.com/craftcms/cms/issues/11083
#          #"4.0.0", contains FK bug, it tries to update field on draft (after apply draft removed, so it fails)
#          "4.0.1",
#          "4.0.2",
#          "4.0.3",
#          "4.0.4",
#          "4.0.5",
#          "4.0.5.1",
#          "4.0.5.2",
#          "4.0.6",
#          "4.0.6",
#          "4.1.0",
#          "4.1.0.1",
#          "4.1.0.2",
#          "4.1.1",
#          "4.1.2",
#          "4.1.3",
#          "4.1.4",
#          "4.1.4.1",
#          "4.2.0",
#          "4.2.0.1",
#          "4.2.0.2",
#          "4.2.1",
#          "4.2.1.1",
#          "4.2.2",
#          "4.2.3",
#          "4.2.4",
#          "4.2.5",
#          "4.2.5.1",
#          "4.2.5.2",
#          "4.2.6",
#          "4.2.7",
#          "4.2.8",
#          "4.3.0",
#          "4.3.1",
#          "4.3.2",
#          "4.3.2.1",
#          "4.3.3",
#          "4.3.4",
#          "4.3.5",
#          "4.3.6",
#          "4.3.6.1",
#          "4.3.7",
#          "4.3.7.1",
#          "4.3.8",
#          "4.3.8.1",
#          "4.3.8.2",
#          "4.3.9",
#          "4.3.10",
#          "4.3.11",
#          "4.4.0",
#          "4.4.1",
#          "4.4.2",
#          "4.4.3",
#          "4.4.4",
#          "4.4.5",
#          "4.4.6",
#          "4.4.6.1",
#          "4.4.7",
#          "4.4.7.1",
#          "4.4.8",
#          "4.4.9",
#          "4.4.10",
#          "4.4.10.1",
#          "4.4.11",
#          "4.4.12",
#          "4.4.13",
#          "4.4.14",
#          "4.4.15",
#          "4.4.16",
#          "4.4.16.1",
#          "4.4.17",
#        ]
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set the value
#        id: step_one
#        run: |
#          echo "PHP_VERSION=8.1" >> $GITHUB_ENV
#          echo "CRAFT_VERSION=${{ matrix.craft_version }}" >> $GITHUB_ENV
#      - name: Test craft versions ${{ matrix.craft_version }}
#        run: make test-craft-versions
