name: Tests on multiple craft versions
on:
  push:
    branches:
      - 3.x #CraftCMS v3 | PHP 7.2
      - 4.x #CraftCMS v4 | PHP 8.0.2
  pull_request:
    branches:
      - "*"
jobs:
  tests:
    strategy:
      matrix:
        craft_version: [
          "3.7.0",
          "3.7.1",
          "3.7.2",
          "3.7.3.1",
          "3.7.3.2",
          "3.7.3",
          "3.7.4",
          "3.7.5",
          "3.7.6",
          "3.7.8",
          "3.7.9",
          "3.7.10",
          "3.7.11",
          "3.7.12",
          "3.7.13",
          "3.7.14",
          "3.7.15",
          "3.7.16",
          "3.7.17",
          "3.7.17.1",
          "3.7.17.2",
          "3.7.18",
          "3.7.18.1",
          "3.7.18.2",
          "3.7.19",
          "3.7.19.1",
          "3.7.20",
          "3.7.21",
          "3.7.22",
          "3.7.23",
          "3.7.24",
          "3.7.25",
          "3.7.25.1",
          "3.7.26",
          "3.7.27",
          "3.7.27.1",
          "3.7.27.2",
          "3.7.28",
          "3.7.29",
          "3.7.30",
          "3.7.30.1",
          "3.7.31",
          "3.7.32",
          "3.7.33",
          "3.7.34",
          "3.7.35",
          "3.7.36",
          "3.7.37",
          "3.7.38",
          "3.7.39",
          # TODO: check this
          # Investigation:
          # https://github.com/craftcms/cms/issues/11083
          # 3.7.40, 3.7.40.1 contains FK bug, it tries to update field on draft (after apply draft removed, so it fails)
          # "3.7.40"
          # "3.7.40.1",
          "3.7.41",
          "3.7.42",
          "3.7.43",
          "3.7.44",
          "3.7.45",
          "3.7.45.1",
          "3.7.45.2",
          "3.7.46",
          "3.7.47",
          "3.7.47.1",
          "3.7.48",
          "3.7.49",
          "3.7.50",
          "3.7.51",
          "3.7.52",
          "3.7.53",
          "3.7.53.1",
          "3.7.54",
          "3.7.55",
          "3.7.55.1",
          "3.7.55.2",
          "3.7.55.3",
          "3.7.56",
          "3.7.57",
          "3.7.58",
          "3.7.59",
          "3.7.60",
          "3.7.61",
          "3.7.62",
          "3.7.63",
          "3.7.63.1",
          "3.7.64",
          "3.7.64.1",
          "3.7.65",
          "3.7.65.1",
          "3.7.65.2",
          "3.7.66",
          "3.7.67",
          "3.7.68",
          "3.8.0",
          "3.8.1",
          "3.8.2",
          "3.8.3",
          "3.8.4",
          "3.8.5",
          "3.8.6",
          "3.8.7",
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=7.2" >> $GITHUB_ENV
          echo "CRAFT_VERSION=${{ matrix.craft_version }}" >> $GITHUB_ENV
      - name: Test craft versions ${{ matrix.craft_version }}
        run: make test-craft-versions
