name: E2E Tests
on:
  push:
    branches:
      - 1.x #CraftCMS v3 | PHP 7.2
      - 2.x #CraftCMS v4 | PHP 8.0.2
  pull_request:
    branches:
      - "*"
jobs:
  tests:
    strategy:
      matrix:
        scenario: [
          "cypress/e2e/jobs/copy-source-text-flow/*.js",
#          "cypress/e2e/jobs/instant/success-path-multiple-1.cy.js",
          "cypress/e2e/jobs/instant/success-path-multiple-2.cy.js",
          "cypress/e2e/jobs/instant/success-path-multiple-3.cy.js",
          "cypress/e2e/jobs/instant/success-path-multiple-4.cy.js",
          "cypress/e2e/jobs/instant/success-path-single.cy.js",
          "cypress/e2e/jobs/verified/success-path-multiple-bulk-publishing.cy.js",
          "cypress/e2e/jobs/verified/success-path-multiple-single-publishing.cy.js",
          "cypress/e2e/jobs/verified/success-path-single.cy.js",
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "CYPRESS_SCENARIO=${{ matrix.scenario }}" >> $GITHUB_ENV
      - name: Run automation
        working-directory: ./e2e
        run: |
          make up
          make e2e-github
      - name: Copy artifacts
        working-directory: ./e2e
        run: |
          mkdir cypress/craft
          mkdir cypress/craft/logs
          cp -R happy-lager-main/storage/logs cypress/craft/logs | true
          cp happy-lager-main/composer.json cypress/craft
          cp happy-lager-main/composer.lock cypress/craft
      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: screenshots-e2e-instant
          path:
            ./e2e/cypress