name: Tests
on:
  push:
    branches:
      - 3.x #CraftCMS v3 | PHP 7.2
  pull_request:
    branches:
      - "*"
jobs:
  e2e-instant:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run automation
        working-directory: ./e2e
        run: |
          make up
          make test-instant
      - name: Use the Upload Artifact GitHub Action
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: screenshots-e2e-instant
          path: ./cypress/screenshots
  e2e-verified:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run automation
        working-directory: ./e2e
        run: |
          make up
          make test-verified
      - name: Use the Upload Artifact GitHub Action
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: screenshots-e2e-verified
          path: ./cypress/screenshots
  e2e-copy-source-text:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run automation
        working-directory: ./e2e
        run: |
          make up
          make test-copy-source-text
      - name: Use the Upload Artifact GitHub Action
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: screenshots-e2e-copy-source-text
          path: ./cypress/screenshots
  tests-php-72:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=7.2" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Tests
        run: make test

  tests-php-73:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=7.3" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Tests
        run: make test

  tests-php-74:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=7.4" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Tests
        run: make test

  tests-php-72-guzzle-6:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=7.2" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Require Guzzle v6.5.5
        run: make require-guzzle-v6
      - name: Tests
        run: make test

  tests-php-74-mysql-80:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        id: step_one
        run: |
          echo "PHP_VERSION=8.0" >> $GITHUB_ENV
          echo "MYSQL_VERSION=8.0" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Tests
        run: make test

  tests-php-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the value
        run: |
          echo "PHP_VERSION=8.1" >> $GITHUB_ENV
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Quality
        run: make quality
      - name: Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v2
        with:
          name: assets-for-download
          path: composer.lock
      - name: Tests
        run: make tests-with-coverage
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: ./tests/_output/coverage-integration.xml
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: ./tests/_output/coverage-functional.xml
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          files: ./tests/_output/coverage-unit.xml