name: Docker Image CI
on:
  pull_request:
    branches:
      - "*"
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build containers
        run: make up
      - name: Composer install
        run: make composer-install
      - name: Quality
        run: make quality
